* {
    margin:0;
    padding:0;
    text-style: none;
    box-sizing: border-box;
}

div.FAQT {
      padding:20px;
      text-align-last: center;
}

nav{
    background: #31B4A7;
    border: 3px solid #fff;
    height: 80px;
    width: 100%;
}
nav ul{
    text-align-last: center;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 80px;
}
nav ul li a{
    color: black;
    font-size: 30px;
    padding: 7px 13px;
    text-decoration: none;
}

section.FAQ{
 background: #FFF0CB;
}