* {
    margin:0;
    padding:0;
    text-style: none;
    box-sizing: border-box;
}

div.FAQT {
      padding:20px;
      text-align-last: center;
}

nav{
    background: #31B4A7;
    border: 3px solid #fff;
    height: 80px;
    margin: 0 80px;


}
nav ul{
    text-align-last: center;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 80px;
}
nav ul li a{
    color: black;
    font-size: 30px;
    padding: 7px 13px;
    text-decoration: none;
}

section.FAQ{
 background: #FFF0CB;
 margin: 0 80px;
 display: flex;
   justify-content: center;
   align-items: center;
   height: 100vh;
}
div.Preguntas {
  display: grid;
   grid-template-columns: repeat(2, 1fr);
   grid-gap: 50px;
   max-width: 800px;
}
div.BoxACol1{
  border: 1px #DDF3F6;
  border-radius: 10px;
  padding: 10px;
  width: 400px;
  height: 150px;
  font-size: 15.5px;
  background: #DDF3F6;
}
div.BoxBCol1{
  border: 1px #DDF3F6;
  border-radius: 10px;
  padding: 10px;
  width: 400px;
  height: 150px;
  font-size: 15.5px;
  background: #DDF3F6;
}
div.BoxACol2{
  border: 1px #DDF3F6;
  border-radius: 10px;
  padding: 10px;
  width: 400px;
  height: 150px;
  font-size: 15.5px;
  background: #DDF3F6;
}
div.BoxBCol2{
  border: 1px #DDF3F6;
  border-radius: 10px;
  padding: 10px;
  width: 400px;
  height: 150px;
  font-size: 15px;
  background: #DDF3F6;
}